<!DOCTYPE html>
<html>
  <head>
    <title>Lucky Wheel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="col-md-6 col-md-offset-3 lucky">
        <h1 class="main-title">Lucky Wheel</h1>
        <hr>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
